<!DOCTYPE html>

<script type='text/javascript' src='http://code.jquery.com/jquery-1.8.2.js'></script>
<link rel='stylesheet' type='text/css' href='http://fonts.googleapis.com/css?family=Titillium Web'>

<html lang="en">
<head>
    <meta charset="utf-8">
</head>
<body>
<table border="1" style="width: 231px;"><tbody>
<tr> <td style="width: 25%;">n</td> <td style="width: 22%;">id </td> <td style="width: 20%;">ip </td><td style="width: 33%;">codigo </td> <td style="width: 30%;">cam</td></tr>


</tbody> </table>
<!--
<table> 

    <tr>
    <td style="width: 30;">n</td>
  <td width='75px'>id</td>
  <td>age_ip </td>
  <td>age_codigo</td> 
  <td>cam_codigo</td>
  <td>llam_numero</td> 
  <td>llam_estado</td>
  <td>llam_flag</td>
  <td>llam_uniqueid </td>
  <td>tipo</td>
  <td>f_origen </td>
  <td>canal1 </td>
  <td>canal2</td> 
  <td>flagfin</td> 
  <td>v_tring</td>
  <td>v_retry</td>
  <td>v_tipbusc</td>
  <td>duration </td>   
  <td>gestion_editid1</td> 
  <td>gestion_editid2</td> 
  <td>gestion_editid3 </td>
  <td>f_llam_fin</td> 
  <td>id_ori_campana</td> 
  <td>id_cliente</td>  
  <td>coderr</td> 
  <td>audio </td>
  <td>sql </td>
  <td>gestion_editid4 </td>
  <td>gestion_editid6</td>  
  <td>gestion_editid7</td> 
  <td>gestion_editid8 </td> 
  <td>gestion_editid9</td>  
  <td>gestion_editid10</td>  
  <td>gestion_editid11</td>
  <td>id_ori_seg_cola</td>
  <td>age_nombre</td>
  <td>anexo</td>
  <td>esp</td>
  </tr>



</table>-->

<table> 

    <div id='orillamada' class="warning"></div>


</table>





<script type="text/javascript">

i=0  
setInterval('moverItem()',2000);


function moverItem() {
ori = $('#count').text()

    
       $.ajax({
                        url : "/ori", 
                        type : "POST", 
                        dataType:"json",
                        data : {
                            nori: ori,
                            csrfmiddlewaretoken: '{{ csrf_token }}'
                            },
                            success : function(json) {

                                i=i+1
                                var trs=$("#orillamada tr").length;
                                console.log(trs)
                                 if(trs==20){
                                  $("#orillamada tr:last").remove();
                                  
                                }

                               
                                $('#orillamada').prepend('<tr><td width=20%>'+i+'</td><td width=20%>'+json[0].fields.age_codigo+'</td><td width=20%>'+json[0].fields.cam_codigo+'</td><td width=20%>'+json[0].fields.llam_numero+'</td><td width=20%>'+json[0].fields.llam_estado+'</td></tr>')
                                console.log(json[0].fields.age_codigo)

                                 

                              
                            },
                    });
                    return false;
}

</script>

<style type="text/css">

td {
 
    border-bottom: 1px solid #5C84C2;
  border-top: 1px solid #5C84C2;
  padding: 0 0.5em;
 
  }




#orillamada{
 padding: 0.1 0.1em;
  text-align: center;
  
  border-bottom: 1px solid #5C84C2;
  border-top: 1px solid #5C84C2;
  font-family: 'Titillium Web';
  color: #575859;
  font-size: 12px;
  width:231px;


}

table{


  border-bottom: 1px solid #5C84C2;
  border-top: 1px solid #5C84C2;
  font-family: 'Titillium Web';
  color: #575859;
  font-size: 12px;
  padding: 0;


}




</style>



</body>
</html>


